<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @inventory.product.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @inventory.amount %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
